.icon {
    position: absolute;
    margin-top: 7px;
    margin-left: 12px;
}

/* .container {
    display: flex;
    align-items: center;
    gap: 20px;
} */

.searchbar::placeholder {
    color: white;
}

.searchbar {
    border-radius: 30px;
    background-color: #d9d9d96e;
    height: 30px;
    color: white;
    font-weight: 100;
    font-size: 20px;
    width: 100%;
    border-color: transparent;
    padding: 18px 18px 18px 50px;
}

.searchbar:focus {
    outline-width: 0;
    border: solid 1px white;
}